@use 'variables';
#about {
    padding: 100px 0;
    
    @media(max-width: 767px) {
        padding: 70px 0;
    }
    .video-container {
        display: flex; 
        align-items: center;
        justify-content: center;

        .video-iframe {
            width: 100%;
            height: auto;
            padding-right: 30px;
            aspect-ratio: 560 / 300;

            @media(max-width: 767px) {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}
.about-detail {
    max-width: 850px;
    .about-work {
        li {
            font-size: 18px;
            font-weight: 600;
            &::after { 
                content: "";
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: #757575;
                margin: 0px 12px;
                position: relative;
                display: inline-block;
                top: -3px;
            }
            &:last-child {
                &:after {
                    content: "";
                    display: none;
                }
            }
        }
    }
}

.skill-custom {
    .progress {
        height: 4px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .progress-bar {
        background: #000;
    }
}
.about-col {
    .about-content {
        @media(max-width: 767px) {
            margin-top: 60px;
        }
    }
}