@use 'variables';
#about {
    padding: 0;
    overflow: initial;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        width: 100%;

        @media(max-width: 767px) {
            margin: 0;
        }
    }
    .video-container {
        display: flex; 
        align-items: flex-start;
        justify-content: center;
        position: relative;
        top: 40px;
        position: -webkit-sticky;
        position: sticky;
        float: left;
        margin: 50px 0 30px;

        @media(max-width: 767px) {
            position: relative;
            margin: 0 0 20px;
        }
        .video-iframe {
            width: 100%;
            height: auto;
            padding-right: 30px;
            aspect-ratio: 560 / 300;

            @media(max-width: 767px) {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
        img {
            position: relative;
        }
    }
    .about-col {
        padding: 130px 0;
        height: 100%;
        position: relative;
        top: 0;

        @media(max-width: 767px) {
            padding: 70px 0;
        }
    }
} 
.about-img-container {
    width: 100%;
    height: 100%;
    max-height: 88vh;

    img {
        width: 100%;
        object-fit: contain;
        margin-top: 0;
    }
}
.read-more-p {
    margin: 0;
    background: none;
    padding: 0;
    text-align: left;
    font-family: variables.$bodyFont;
    cursor: initial;
    display: block;

    .read-more {
        cursor: pointer;
        color: #008bff !important;

        &:hover {
            color: #085fa6 !important;
        }
    }
    & > span:last-child {
        display: none;
    }
    &.show-less {
        & > span {
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}
.read-more-text {
    max-height: 0;
    overflow: hidden;
    display: flex;
    transition: 1s ease;
 
    &.shown {
        max-height: 1100px;

        @media(max-width: 767px) {
            max-height: 1500px;
        }
    }
}
.contact-caption {
    width: 460px;
    max-width: 100%;
}
.about-content {
    .about-text {
        text-align: left;
        position: relative;
        margin-bottom: 0;

        span {
            text-align: left;
        }
        a {
            color: #008bff !important;
            text-decoration: none;

            &:hover {
                color: #085fa6 !important;
            }
        }
    }
    @media(max-width: 767px) {
        margin-top: 0;
    }
}
.about-detail {
    max-width: 850px;
    .about-work {
        li {
            font-size: 18px;
            font-weight: 600;
            &::after { 
                content: "";
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: #757575;
                margin: 0px 12px;
                position: relative;
                display: inline-block;
                top: -3px;
            }
            &:last-child {
                &:after {
                    content: "";
                    display: none;
                }
            }
        }
    }
}

.skill-custom {
    .progress {
        height: 4px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .progress-bar {
        background: #000;
    }
}