.btn {
    padding: 12px 26px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
} 

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open>.dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

.btn-outline-black {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active,
.btn-outline-black.active,
.btn-outline-black.focus,
.btn-outline-black:active,
.btn-outline-black:focus,
.btn-outline-black:hover,
.open>.dropdown-toggle.btn-outline-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

.btn-custom {
    background-color: $darkblue;
    border: 2px solid $darkblue;
    color: $lightestblue !important;
    transition: all 0.5s;
    font-family: $bodyFont;
    font-size: 16px;

    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: $darktext;
    border-color: $darkblue;
    color: $darkblue;
}