// contact
#contact {
    
}
.form-sub-title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px;
}

.contact_form {
    .form-control {
        box-shadow: none !important;
        height: 44px;
        border-radius: 0px;
        &:focus {
            border-color: #000;
        }
    } 
    textarea.form-control {
        height: auto;
    }
} 
 
.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg {
    h3 {
        color: #0dba26;
        font-size: 22px;
    }
}
