@use 'variables';
// contact
#contact {
    .mt-4 {
        @media(max-width: 991px) {
            margin-top: 0 !important;
        }
    }
    .col-lg-4 {
        @media(max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .mt-4 {
                &:first-child {
                    position: relative;
                    right: 50px;
                    top: 2px;
                }
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
        @media(max-width: 480px) {
            .mt-4 {
                &:first-child {
                    right: 30px;
                }
                &:last-child {
                    margin-left: 0;
                }
            }
        }
        @media(max-width: 370px) {
            .mt-4 {
                &:first-child {
                    right: 20px;
                }
            }
        }
    }
}
.form-sub-title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px;
}

.contact_form {
    .form-control {
        box-shadow: none !important;
        height: 44px;
        border-radius: 0px;
        &:focus {
            border-color: #000;
        }
    } 
    textarea.form-control {
        height: auto;
    }
} 
 
.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg {
    h3 {
        color: #0dba26;
        font-size: 22px;
    }
}
