@use 'variables';
.footer {
    .footer-container {
        @media(min-width: 800px) {
            margin: 0 40px;
        }
        .footer-content {
            flex-direction: column-reverse;

            @media(min-width: 800px) {
                flex-direction: row
            }
        }
    }
} 
.fot_social {
    .social-icon {
        border: 2px solid variables.$black;
        border-radius: 50%;
        transition: 0.3s ease;
        width: 42px;
        height: 42px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 38px;
        text-align: center;
        
        &:hover {
            color: variables.$white;
            background-color: variables.$black;
            
            .mdi {
                fill: variables.$white;
            }
        }
        .mdi {
            transition: 0.3s ease;
            fill: variables.$black;
        }
        .tiktok-icon {
            transform: scale(0.8);
        }
    }
} 
.copy-rights {
    line-height: 43px;
    text-align: center; 

    @media(max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.9;
    }
    @media(min-width: 800px) {
        text-align: left;
    }
    .dean {
        transition: 0.2s ease;
        color: variables.$darkblue;

        &:hover {
            color: variables.$darktext !important;
            font-weight: 500;
        }
    }
}