.custom-nav {
    padding: 8px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent; 

    .navbar:not(.stickyadd) {
        .navbar-nav {
            li {
                a {
                    color: $lighterblue;
                }
            }
        }
    }
    &.stickyadd, &:has(.navbar-toggler[aria-expanded="true"]) {
        background-color: rgba($darktext, 0.6); 
        padding: 8px 0;
        box-shadow: 0px 0px 18px 1px rgba($white, 0.1);
        backdrop-filter: saturate(180%) blur(10px);
        box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.11);

        .navbar-nav {
            li {
                a {
                    color: $white;
                    text-align: center;
                    
                    &:before {
                        background: $white !important;
                    } 
                }
                &.active {
                    a {
                        color: $white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .navbar-nav {
        li { 
            a {
                color: $white;
                background-color: transparent !important;
                padding: 15px 0;
                position: relative;
                margin: 0 7px;
                font-weight: 600;
                transition: all 0.4s ease;
                font-family: $headingFont;
                font-size: 16px;
                text-align: center;
            }
            &.active {
                a {
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
    #navbarCollapse { 
        justify-content: flex-end;
    } 
}
.navLink {
    display: block;
    visibility: hidden;
    position: relative;
    margin-top: -65px;
    height: 65px;

    @media(min-width: 768px) {
        margin-top: -70px;
        height: 70px;
    }
}

.custom-nav .navbar-nav li.active a:before,
.custom-nav .navbar-nav li:hover a:before,
.custom-nav .navbar-nav li:active a:before,
.custom-nav.stickyadd .navbar-nav li.active a:before,
.custom-nav.stickyadd .navbar-nav li:hover a:before,
.custom-nav.stickyadd .navbar-nav li:active a:before {
    opacity: 1;
}

.custom-nav .navbar-nav li a:before,
.custom-nav.stickyadd .navbar-nav li a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10%;
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
} 

.navbar-toggler {
    font-size: 40px;
    margin-bottom: 0px;
    color: #fff;
    border: none;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo-link {
    position: relative;

    .logo {
        display: inline-block;
        fill: #fff;
        transition: 0.3s ease;
        height: 44px;
        width: 100px;

        @media(max-width: 767px) {
            height: 35px;
        }
    }
}

.stickyadd {
    .logo-link { 
        .logo {
            fill: $lighterblue;
        }
    }
}

.custom-nav {
    .navbar-brand.logo {
        padding: 0;
        
        img {
            height: 40px;
        }
    }
}

