@use 'variables';
.home-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
    min-height: 550px;

    .scroll_down {
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 13px;
        z-index: 8;
        bottom: 30px;

        i {
            position: relative;
            height: 50px;
            width: 30px;
            line-height: 60px;
            border-radius: 30px;
            border: 2px solid #ffffff;
            display: inline-block;
            color: #fff;
            font-size: 12px;
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
            animation: float 6s linear infinite;
            animation-timing-function: linear;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                z-index: -1;
                transition: all .2s;
            }
        }
    }
    @keyframes float {
        0% {
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
        }
        50% {
            filter: drop-shadow(0px 18px 3px rgba(0, 0, 0, 0.7));
            transform: translatey(-20px);
        }
        100% {
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
        }
    }
    .home-content {
        margin-top: 84px;
        height: calc(100dvh - 272px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .get-started {
        margin-bottom: 22px;
        font-size: 30px;
    }
    .next-steps {
        margin: 0 auto 20px;
        font-size: 25px;
        font-weight: 200;
        text-transform: uppercase;
        
        @media(max-width: 767px) {
            max-width: 320px;
            font-size: 20px;
        }
        b {
            font-weight: bold;
        }
    }

    .mbri-arrow-down {
        &:before {
            font-weight: bold;
        }
        &:after {
            content: "\e908";
            top: -1px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

.header_title {
    font-size: 8vw;
    font-weight: 400;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    container-name: mainTitle;
    line-height: 1.1;
    visibility: hidden;
    
    @media(min-width: 768px) {
        font-size: 45px;
    }
    @media(min-width: 981px) {
        font-size: 4em;
    }
    @media(min-width: 1300px) {
        font-size: 6em;
    }
}

.header_subtitle {
    line-height: 2.0;
    font-size: 18px;
    max-width: 600px;
}

#home-slides{
    position: absolute;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style-type: none;
    height: 100dvh; 
    width: 100vw;  
    min-height: 100%;
    
    .slide {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      opacity: 0;
      transition: opacity 1.5s ease-in-out !important;
      background-size: cover !important;
      background-position: 50% 60% !important;
      background-attachment: fixed !important;

      @media(max-width: 767px) {
          background-attachment: initial !important;
      }
      &.active { 
        opacity: 1;

        h2 {
            opacity: 1;
        }
      }
      h2 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 8vw;
            font-weight: 400;
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            container-name: mainTitle;
            line-height: 1.1;
            color: #ffffff;
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
            top: 84px;
            height: calc(100dvh - 302px);

            @media(min-width: 768px) {
                font-size: 45px;
            }
            @media(min-width: 981px) {
                font-size: 4em;
            }
            @media(min-width: 1300px) {
                font-size: 6em;
            }
        }
    }
    .slide-1 { background-image: url('/assets/img/homeSlides/deadlift.jpg'); }
    .slide-2 { background-image: url('/assets/img/homeSlides/stretch.jpg'); }
    .slide-3 { background-image: url('/assets/img/homeSlides/program.jpg'); }
    .slide-4 { background-image: url('/assets/img/homeSlides/cross-leg.jpg'); }
} 

  