.home-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;

    .scroll_down {
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 13px;
        z-index: 8;
        bottom: 30px;

        i {
            position: relative;
            height: 50px;
            width: 30px;
            line-height: 60px;
            border-radius: 30px;
            border: 2px solid #ffffff;
            display: inline-block;
            color: #fff;
            font-size: 12px;
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
            animation: float 6s linear infinite;
            animation-timing-function: linear;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                z-index: -1;
                transition: all .2s;
            }
        }
    }
    @keyframes float {
        0% {
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
        }
        50% {
            filter: drop-shadow(0px 18px 3px rgba(0, 0, 0, 0.7));
            transform: translatey(-20px);
        }
        100% {
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
            transform: translatey(0px);
        }
    }
    .home-content {
        margin-top: 84px;
        height: calc(100dvh - 272px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .get-started {
        margin-bottom: 22px;
    }
    .next-steps {
        margin: 0 auto 20px;
        font-size: 25px;
        font-weight: 200;
        text-transform: uppercase;
        
        @media(max-width: 767px) {
            max-width: 320px;
            font-size: 20px;
        }
        b {
            font-weight: bold;
        }
    }

    .mbri-arrow-down {
        &:before {
            font-weight: bold;
        }
        &:after {
            content: "\e908";
            top: -1px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;

    .items {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .item {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 2s ease;
          
          h2 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 8vw;
            font-weight: 400;
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            container-name: mainTitle;
            line-height: 1.1;
            color: #fff;
            z-index: 2;
            opacity: 0;
            transition: opacity 2s ease;
            top: 84px;
            height: calc(100dvh - 302px);

            @media(min-width: 768px) {
                font-size: 45px;
            }
            @media(min-width: 981px) {
                font-size: 4em;
            }
            @media(min-width: 1300px) {
                font-size: 6em;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 2s ease;
            z-index: 0;
          }
          &.last {
            animation: fadeOut 2s ease;
            animation-fill-mode: forwards;

            .bg-overlay {
                opacity: 0;
            } 
          }
          &.current {
            // animation: fadeIn 2s ease;
            opacity: 1;
            animation-fill-mode: forwards;

            .bg-overlay {
                opacity: 1;
            }
            h2 {
                opacity: 1;
            }
            img {
                opacity: 1;
            }
          }
          &.onDeck {
            z-index: 1;
            opacity: 1;

            .bg-overlay {
                opacity: 0;
            }
          }
        }
    }
}
@keyframes fadeIn {
  0% { opacity: 0; z-index: 1; }
//   50% { opacity: 1; z-index: 2; }
  100% { opacity: 1; z-index: 2; }
}
@keyframes fadeOut {
  0% { opacity: 1; z-index: 2; }
//   50% { opacity: 1; z-index: 1; }
  100% { opacity: 0; z-index: 0; }
}
.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.slider .slide:nth-child(1) {
   background-image: url('/assets/img/homeSlides/deadlift.jpg');
}

.slider .slide:nth-child(2) {
   background-image: url('/assets/img/homeSlides/program.jpg');
}

.slider .slide:nth-child(3) {
   background-image: url('/assets/img/homeSlides/skyline.jpg');
}

.home-table-center {
    display: table-cell;
    vertical-align: middle;
}

.home-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header_title {
    font-size: 8vw;
    font-weight: 400;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    container-name: mainTitle;
    line-height: 1.1;
    visibility: hidden;
    
    @media(min-width: 768px) {
        font-size: 45px;
    }
    @media(min-width: 981px) {
        font-size: 4em;
    }
    @media(min-width: 1300px) {
        font-size: 6em;
    }
}

.header_subtitle {
    line-height: 2.0;
    font-size: 18px;
    max-width: 600px;
}
