.services-container {
    display: flex;
    flex-direction: column;
    
    .services-row {
        display: flex;
        align-items: center;
        margin: 50px 0;

        @media(max-width: 767px) {
            margin: 30px 0;
        }
        &.row-1 {
            flex-direction: row-reverse;
        }
        &.row-2 {
            .services-content {
                display: inline-flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                z-index: 1;
                position: relative;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;

                    li {
                        text-align: right;;
                        a {
                            text-align: right;
                        }
                    }
                }
            }
            .image-col {
                .image-container {
                    top: 45px;
                    left: -90px;
                }
            }
            .service-img {
                transform: rotate(354deg);
            }
        }
        .image-col {
            .image-container {
                position: relative;

                .service-blob {

                }
                .service-img {
                    position: absolute;
                    top: 45px;
                    left: -30px;
                }
            }
        }
        .services-content {
            z-index: 1;

            h2 {
                font-size: 40px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            ul {
                padding: 0 0 0 10px;
                display: flex;
                flex-direction: column;

                li {
                    list-style-type: none;
                    display: inline-flex;
                    font-size: 18px;
                    line-height: 1.8;

                    &.child {
                        margin-left: 35px;

                        &:before {
                            content: "•";
                        }
                    }
                    &:before {
                        content: "✓";
                        font-size: 18px;
                        margin-right: 3px;
                    }
                }
            }
            h3 {
                text-transform: uppercase;
            }
            a {
                display: inline-flex;
                font-weight: 400;
                margin-top: 20px;
            }
        }
    }
}