@use 'variables';
// service scss
.lan_box_ser {
    border-radius: 30px !important;
    box-shadow: 15px 26px 60px 0 rgba(0, 0, 0, 0.06);

    .ser_icon {
        i {
            font-size: 42px;
        }
    }
} 