
.subcribe-newslatter {
    input {
        padding: 15px 20px;
        width: 100%;
        font-size: 17px;
        color: #4c5667 !important;
        border: none;
        outline: none !important;
        padding-right: 150px;
        padding-left: 30px;
        border-radius: 30px;
        background-color: #f1f1f1;
    }
    button {
        position: absolute;
        top: 4px;
        right: 5px;
        outline: none !important;
        border-radius: 30px;
        font-size: 17px;
        padding: 9px 30px;
    }
    form {
        max-width: 550px;
    }    
}