@use 'variables';
#get-started {
    overflow: hidden;

    a {
        &:hover {
            color: variables.$lightblue;
        }
    }

    .button-container {
        position: relative;
    }  

    .get-started-content {
        display: flex;
        align-items: flex-start;

        &>.col-lg-5 {
            display: flex;
            align-items: center;
            height: 100%;
            padding-right: 40px;
            margin-bottom: 40px; 

            .section-main-title {
                margin-top: 30px;
            }
            @media(max-width: 767px) {
                padding-right: 12px;
            }
        }
        &>.col-lg-7 {
            @media(max-width: 991px) {
                padding: 0 20px;
            }
            @media(min-width: 1400px) {
                padding-left: 50px;
            }
        }
    }
} 
 
#regForm.signup-container {
    border-radius: 20px;
    backdrop-filter: blur(10px) !important;
    color: rgba(92, 92, 92, 0.561);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.24);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 110px;
    background: variables.$contactFormBg;
    transition: 0.5s ease;

    progress {
        display: block;
        width: 100%;
        height: 30px;
        padding: 15px 0 30px 0;
        margin: 0;
        background: none;
        border: 0;
        border-radius: 30px;
        text-align: left;
        position: relative;
        font-size: 15px;
        
        &::-webkit-progress-bar {
            height: 20px;
            width: 100%;
            margin: 0 auto;
            background-color: rgba(variables.$headerbg, 0.4);
            border-radius: 20px;
            box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
    
        &::-webkit-progress-value {
            display: inline-block;
            float: left;
            height: 20px;
            margin: 0;
            padding-left: 20px;
            background: variables.$headerbg;
            border-radius: 20px;
            box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.3);
            clip-path: inset(0 -120% 0 0);
            overflow: hidden;
            transition: 0.8s ease-in-out;
    
        }
        &.finish::-webkit-progress-value {
            background: variables.$formFinished
        }
    }


    input.invalid {
        border: 1px solid rgba(255, 0, 0, 0.277);
    }
    .cgf-theme-base .cgf__checkbox-input:checked ~ .cgf__checkbox-control {
        background: none;
    }
    .cgf__checkbox-control {
        padding: 2px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 100%;
            width: 100%;
        }
    }
    .tab {
        display: none;
    }

    button:hover {
        opacity: 0.8;
    }

    #prevBtn {
        background-color: #bbbbbb;
    }

    .custom-form-btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    input[type=text] {
        width: 100%;
        font-size: 18px;
        color: variables.$darkblue !important;
        border: none;
        outline: none !important;
        border-radius: 30px;
        backdrop-filter: blur(10px) !important;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.03);
        font-weight: 500;
        padding: 9px 18px;

        @media(max-width: 767px) {
            font-size: 16px;
            padding: 7px 18px;
        }
        &:placeholder {
            color: variables.$lighterblue;
        }
    }
    .cgf__section {
        .cgf__group {
            padding-left: 0;
            padding-right: 0;

            &:not(:last-child) {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    .cgf__copy {
        display: none;
    }
    .cgf__container {
        box-shadow: none;
        border: none !important;
    }
    .cgf-theme-custom {
        border: none !important;
    }
    .cgf__label {
        font-size: 20px;
    }
    .cgf__radio-group {
        display: grid;
        grid-template-columns: auto auto;

        @media(max-width: 470px) {
            grid-template-columns: auto;
        }
    }
    .cgf__btn {
        background-color: variables.$darkblue;
        border: 2px solid variables.$darkblue;
        color: variables.$lightestblue !important;
        transition: all 0.5s;
        font-family: variables.$bodyFont;
        font-size: 16px;
        border-radius: 46px;
        text-transform: capitalize;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none !important;
        padding: 9px 30px;

        &:hover {
            background-color: variables.$darktext;
        }
        &:disabled {
            opacity: 0.5;
        }
        @media(max-width: 767px) {
            height: 42px;
        }
    }
    .cgf__actions:has(.cgf__btn:nth-child(2)) {
        .cgf__btn:first-child {
            background-color: transparent;
            color: variables.$darkblue !important;
        }
    }
    .cgf__radio-item {
        padding-right: 10px;
        cursor: pointer;
    }
    input {
        &:not([type=text]) {
            cursor: pointer;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    .cgf__textarea {
        color: variables.$darkblue;
    }
    .cgf-theme-base .cgf__radio:before {
        background-color: variables.$darkblue !important;
    }
    .cgf__description {
        font-size: 19px;
    }
    .cgf__btn-link {
        color: #008bff !important;

        &:hover {
            color: #085fa6 !important;
        }
    }
}
.hide-home {
    display: none !important;
}